<%= content_for :js do %>
	<script type="text/javascript">
		$(function() {
		  	$(".js-add-escale").click(function() {
		  		var escaleTemplate = $(".js-escale-template").clone();
		  		escaleTemplate.show();
		  		escaleTemplate.removeClass("js-escale-template");
		  		
		  		$(".js-escales").append(escaleTemplate);

		  		escaleTemplate.find(".js-remove-escale").click(function() {
			   		$this = $(this);
			  		$this.parents(".js-escale").remove();
			  	});
		  	});
		 
		   	$(".js-remove-escale").click(function() {
		   		$this = $(this);
		  		$this.parents(".js-escale").remove();
		  	});

		  	$(".js-form").submit(function() {
		  		$(".js-escale-template").remove();
		  	});

		  	$(".js-plus-time").click(function() {
		  		$this = $(this);
		  		$input = $this.parents(".js-time-container").find(".js-time");
		  		var time = parseInt($input.val());
		  		if(time < 23){
		  			time++;
		  		}else{
		  			time = 0;
		  		}
		  		$input.val(time);
		  	});

		  	$(".js-minus-time").click(function() {
		  		$this = $(this);
		  		$input = $this.parents(".js-time-container").find(".js-time");
		  		var time = parseInt($input.val());
		  		if(time < 1){
		  			time = 23;
		  		}else{
		  			time--;
		  		}
		  		$input.val(time);
		  	});

		});
	</script>
<% end %>

<% 
	action = ""
	method = ""
	if ["new_line"].include? @action_name
		action = create_line_path
	elsif ["edit_line"].include? @action_name
		action = update_line_path
	end
%>
<%= form_tag action, method: "post", class:"js-form" do %>
	H depart :<input type="text" class="js-time" name="line[heure_depart]" value="<%= @line.heure_depart if  @line%>" > <br>
	H arrivé :<input type="text" class="js-time"  name="line[heure_arrive]" value="<%= @line.heure_arrive if  @line%>" > <br>

	Car<select name="line[car_id]" >
		<% current_user.cars.each do |car| %>
		
			<option value="<%= car.id %>" <%= "selected" if ["edit_line"].include? @action_name and @line.car.id == car.id %>><%=car.name%></option>
		
		
		<% end %>
	</select><br>

	Depart<select name="escale[depart_ville_id]" >
		<% @villes.each do |ville| %>
			<option value="<%= ville.id %>" <%="selected" if  ["edit_line"].include? @action_name and @line.ville_depart.id == ville.id %> ><%=ville.name%></option>
		<% end %>
	</select><br> <br>

	<button class="js-add-escale" type="button">
		Add escale
	</button>

	<div class="js-escale-template js-escale" style="display:none">
		escale<select name="escale[escale_ville_id][]" >
			<% @villes.each do |ville| %>
				<option value="<%= ville.id %>"><%=ville.name%></option>
			<% end %>
		</select><br>
		<button type="button" class="js-remove-escale" >Remove</button>
		<br>
	</div>

	<div class="js-escales">
 		<% if ["edit_line"].include? @action_name %>
	 	   <% @line.ville_escales.each_with_index do |escale, index| %>
	 			<div class=" js-escale" >
	 				escale_ <%= index + 1 %><select name="escale[escale_ville_id][]" >
	 					<% @villes.each do |ville| %>
	 						<option value="<%= ville.id %>" <%="selected" if ["edit_line"].include? @action_name  and escale.ville.id == ville.id %>><%=ville.name%></option>
	 					<% end %>
	 				</select><br>
	 				<button type="button" class="js-remove-escale" >Remove</button>
	 				<br>
	 			</div>
	 		<% end%>
 		<% end%>
	</div>


	Arrivé<select name="escale[arrive_ville_id]" >
		<%  @villes.each do |ville| %>
			<option value="<%= ville.id %>" <%="selected" if ["edit_line"].include? @action_name and @line.ville_arrive.id == ville.id %> ><%=ville.name%></option>
		<% end %>
	</select><br><br>

	Prix<input type="text" name="line[prix]" value="<%= @line.prix if  @line%>" > <br>
		<% if ["new_line"].include? @action_name 
			valeur = "Ajouter" 
			elsif ["edit_line"].include? @action_name
			valeur ="Modifier"
	 end %>
	<input type="submit" value="<%= valeur %>" ><br>
<% end %>

<%= render "pages/timepicker" %>